<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Proj Html Css Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="dist/app.css">
  </head>
  <body>
    <div id="app">
      <!-- header -->

        <header>
          <div class="overlay">
            <div class="container">
              <!-- navbar -->
              <nav>
                <ul>
                  <li>
                    <i :class="opening.icon"></i>
                    {{opening.openingTime}}
                  </li>
                </ul>


                <ul>
                  <li v-for="element in commonProperties">
                    <i :class="element.icon"></i>
                    {{element.name}}
                  </li>

                </ul>
              </nav>
              <!-- end navbar -->
            </div>
          </div>
        </header>
        <!-- end header -->

        <!-- jumbotron -->
        <section id="jumbotron">

          <div class="overlay">
            <div class="container">
              <div class="nex-gen">
                <p><strong>{{jumbotronLogo.logoFirst}}</strong></p>
                <p><strong>{{jumbotronLogo.logoSecond}}</strong></p>
              </div>

              <ul>
                <li v-for="element in jumbotron"><a href="">{{element.prop}}</a></li>

                <li><a  class="full-blue-btn" href="">{{getInTouchBtn.name}}</a></li>
              </ul>

              <div class="jumbotron-description">
                <span class="jumbotron-title">Lead~</span>
                <span class="jumbotron-title">Customer</span>
                <p>Succesful strategies require data analysis, creativity and customer focus, taking
                advantage of the latest technologies to offer exellent services.</p>
                <a href=""><div class="full-blue-btn">GET IN TOUCH</div></a>
                <a href=""><div class="empty-bg-button">READ MORE</div></a>
              </div>

            </div>
          </div>
        </section>
        <!-- end jumbotron -->

        <!-- three adjectives section -->
        <section id="three-adjectives-section">
          <div class="container">
            <div class="services-div">
              <i class="fas fa-user-friends"></i>
              <h2>Human Capital</h2>
              <p>Humanizing business: Hearness the power of technology to improve the way people work.</p>
            </div>

            <div class="services-div">
              <i class="fas fa-chart-pie"></i>
              <h2>Core Business</h2>
              <p>It takes innovative approaches to transform, modernize, and run existing platforms.</p>
            </div>

            <div class="services-div">
              <i class="fas fa-tachometer-alt"></i>
              <h2>Performance</h2>
              <p>Achieving maximum impact and value from investments in finance and supply chain.</p>
            </div>
          </div>
        </section>
        <!--end three adjectives section -->

        <!-- network section -->
        <section id="network-section">
          <div class="about-network">
            <h4>ABOUT THE NETWORK</h4>
            <span>The</span>
            <span>Company</span>
            <p>For 12 years we have been providing audit and warranty, financial advice,
            risk advice, taxes and related services to select clients.</p>

            <div class="quality">

              <h2><i class="fas fa-medal"></i>Tradition</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="quality">
              <h2><i class="fas fa-lock"></i>Security</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="quality">
              <h2><i class="far fa-sticky-note"></i>Certificate</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="quality">
              <h2><i class="fas fa-graduation-cap"></i>Expertise</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>


            <img src="img/about-3.jpg" alt="">
            <div id="dots"></div>

        </section>
        <!--end network section -->

        <!-- excellence services -->
          <section id="excellence-services">
            <div class="container">
              <div class="slogan-container">
                <h4>OUR BUSINESS AREAS</h4>
                <span>Excellence in </span>
                <span>Services</span>
                <p>We are leaders in providing consultancy services
                  with a set of cutting-edge technologies and a team of <br> experienced
                  and renowed professionals. These are some options that you can hire.</p>
                  <a href="">
                    <div class="empty-bg-button">
                      SEE ALL
                    </div>
                  </a>
              </div>

              <div class="services-container">
                <div class="services">
                  <i class="fas fa-sitemap"></i>
                  <h2>Audit & Assurance</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="">
                    <div class="empty-bg-button">
                      READ MORE
                    </div>
                  </a>
                </div>

                <div class="services">
                  <i class="fas fa-briefcase"></i>
                  <h2>Financial Advisory</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="">
                    <div class="empty-bg-button">
                      READ MORE
                    </div>
                  </a>
                </div>

                <div class="services">
                  <i class="fas fa-chart-bar"></i>
                  <h2>Analytics and M&A</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="">
                    <div class="empty-bg-button">
                      READ MORE
                    </div>
                  </a>
                </div>

                <div class="services">
                  <i class="fas fa-plane"></i>
                  <h2>Middle Marketing</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="">
                    <div class="empty-bg-button">
                      READ MORE
                    </div>
                  </a>
                </div>

                <div class="services">
                  <i class="fas fa-globe-americas"></i>
                  <h2>Legal Consulting</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="">
                    <div class="empty-bg-button">
                      READ MORE
                    </div>
                  </a>
                </div>

                <div class="services">
                  <i class="fas fa-inbox"></i>
                  <h2>Regulatory Risk</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="">
                    <div class="empty-bg-button">
                      READ MORE
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div id="dots"></div>
          </section>
        <!--end excellence services -->

        <!-- Pricing Table -->
        <section id="pricing-table">
          <div class="container">
            <div class="slogan-container">
              <h4>MONTHLY PLANS</h4>
              <span>Pricing</span>
              <span>Table</span>
              <p>We can help you deliver and execute your future,
                wherever you compete, using the latest <br> technologies,
                from strategy development to implementation.</p>
            </div>

            <div class="prices-container">
              <div class="prices">
                <i class="fas fa-arrow-right"></i>
                <i class="fas fa-rocket"></i>
                <h2>Standard</h2>
                <span>$<strong>490</strong>/mo</span>
                <div class="services-plan-container">
                  <p>Standard Accounting<i class="fas fa-check"></i></p>
                  <p>Platform Access<i class="fas fa-check"></i></p>
                  <p>Business Orientation<i class="fas fa-times"></i></p>
                  <p>Dedicated Consultant<i class="fas fa-times"></i></p>
                  <p>Personal Assistance<i class="fas fa-times"></i></p>
                </div>
              </div>

              <div class="prices">
                <i class="fas fa-arrow-right"></i>
                <div class="badge-popular-container">
                  <div class="popular-service">
                    <p>Most</p>
                    <p>Popular</p>
                  </div>
                </div>
                <i class="fas fa-briefcase"></i>
                <h2>Professional</h2>
                <span>$<strong>890</strong>/mo</span>
                <div class="services-plan-container">
                  <p>Standard Accounting<i class="fas fa-check"></i></p>
                  <p>Platform Access<i class="fas fa-check"></i></p>
                  <p>Platform Access<i class="fas fa-check"></i></p>
                  <p>Dedicated Consultant<i class="fas fa-times"></i></p>
                  <p>Personal Assistance<i class="fas fa-times"></i></p>
                </div>
              </div>

              <div class="prices">
                <i class="fas fa-arrow-right"></i>
                <i class="far fa-gem"></i>
                <h2>Ultimate</h2>
                <span>$<strong>1.390</strong>/mo</span>
                <div class="services-plan-container">
                  <p>Standard Accounting<i class="fas fa-check"></i></p>
                  <p>Platform Access<i class="fas fa-check"></i></p>
                  <p>Platform Access<i class="fas fa-check"></i></p>
                  <p>Platform Access<i class="fas fa-check"></i></p>
                  <p>Platform Access<i class="fas fa-check"></i></p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end pricing table -->

        <!-- Latest news -->
        <section id="latest-news">
          <div class="container">
            <div class="slogan-container">
              <h4>OUR EDITORIAL CONTENT</h4>
              <span>Latest </span>
              <span>News</span>
              <p>Every week we publish content about what is best in the business world.</p>
                <a href="">
                  <div class="full-blue-button">
                    SEE ALL
                  </div>
                </a>
              </div>

                <div class="latest-news-photos-container">
                  <div class="latest-news-photos">
                   <img src="img/news-1.jpg" alt="">
                   <div class="overlay">
                     <div class="more-info-container">
                       <span><i class="fas fa-user-circle"></i>Andrea Miller</span>
                       <span><i class="far fa-clock"></i>2 Days Ago</span>
                     </div>

                     <h2>Increasing creativity is possible for everyone</h2>
                     <div class="lorem">
                       <span>Lorem ipsum sit amet, consectetur adipiscing elit</span>
                     </div>
                   </div>
                  </div>

                  <div class="latest-news-photos">
                    <img src="img/news-2.jpg" alt="">
                    <div class="overlay">
                      <div class="more-info-container">
                        <span><i class="fas fa-user-circle"></i> Andrea Miller</span>
                        <span><i class="far fa-clock"></i> 2 Days Ago</span>
                      </div>
                      <h2>Because market research is part of the business plan</h2>
                      <div class="lorem">
                        <span>Lorem ipsum sit amet, consectetur adipiscing elit</span>
                      </div>
                    </div>
                  </div>

                  <div class="latest-news-photos">
                    <img src="img/news-3.jpg" alt="">
                    <div class="overlay">
                      <div class="more-info-container">
                        <span><i class="fas fa-user-circle"></i> Andrea Miller</span>
                        <span><i class="far fa-clock"></i> 2 Days Ago</span>
                      </div>

                      <h2>Working from home is now a trend</h2>
                      <div class="lorem">
                        <span>Lorem ipsum sit amet, consectetur adipiscing elit</span>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
        </section>
        <!--End Latest news -->

        <!-- news-letter section -->
        <section id="news-letter">
          <div class="container">
            <div class="slogan-container">
              <h4>NEWSLETTER</h4>
              <span>know</span>
              <span>First</span>
              <div class="input-container">
                <input type="text" name="" value="" placeholder="Name">
                <input type="text" name="" value="" placeholder="Email">
                <a href="">
                  <div class="full-blue-button">
                    SUBSCRIBE
                  </div>
                </a>
              </div>

              <p>Follow closely and receive content about our company <br> and
                the news of the current market.</p>
            </div>
          </div>
        </section>
        <!-- end news-letter-section -->

        <!-- Get in touch section -->
        <section id="get-in-touch">
          <div class="container">
            <div class="slogan-container">
              <h4>SEND A MESSAGE</h4>
              <span>Get in</span>
              <span>Touch</span>
              <p>We will respond to your message as soon as possible.</p>

            <div class="input-container">
              <input type="text" name="" value="" placeholder="Name">
              <input type="text" name="" value="" placeholder="Email"><br>
              <input type="text" name="" value="" placeholder="Phone">
              <input type="text" name="" value="" placeholder="More Info"><br>
              <textarea name="name" rows="8" cols="80" placeholder="Message"></textarea><br>
              <a href="">
                <div class="full-blue-button">
                  SEND
                </div>
              </a>
            </div>
          </div>

          <div class="contacts-container">

            <h2>Example Inc.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Praesent diam Iacus, dapibus sed imperdiet consectetur.</p>
            <p class="icon-contacts"><i class="fas fa-phone"></i>+1(305)1234-5678</p>
            <p class="icon-contacts"><i class="fas fa-envelope"></i>hello@example.com</p>
            <p class="icon-contacts"><i class="fas fa-map-marker-alt"></i>Main Avenue, 987</p>
            <a href="">
              <div class="empty-bg-button">
                VIEW MAP
              </div>
            </a>
          </div>
        </div>
      </section>
      <!--end Get in touch section -->

      <!-- footer -->
      <footer>
        <div class="container">
          <div class="footer-elements-container">
            <div class="footer-contacts">
              <p class="special-logo"><strong>{{jumbotronLogo.logoFirst}}</strong></p>
              <p><strong>{{jumbotronLogo.logoSecond}}</strong></p><br>
              <p>{{footerDescription.footDesc}}</p>
              <div class="contacts">
                <p v-for="element in footContacts">
                  <i :class="element.icon"></i>
                  {{element.name}}
                </p>
              </div>
            <a href="">
                <div class="empty-bg-button">
                  {{getInTouchBtn.name}}
                </div>
              </a>
            </div>

              <div class="footer-info-container">
                <p v-for="element in footerAbout"><i :class="element.icon"></i>{{element.name}}</p>
              </div>

              <div class="footer-info-container">
                <p v-for="element in footerServices"><i :class="element.icon"></i>{{element.name}}</p>
              </div>

              <div class="footer-info-container">
                <p v-for="element in footerSupport"><i :class="element.icon"></i>{{element.name}}</p>
              </div>

          </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="footer-copyright">
            <p>{{footerCopyrightFirst}}</p>
          </div>

          <div class="footer-copyright">
            <p>&copy {{footerCopyrightSecond}} <span>{{codings}}</span></p>
          </div>
        </div>

        <a href="">
          <div id="go-top">
            <i class="fas fa-arrow-up"></i>
          </div>
        </a>

      </div>
    </footer>
      <!-- end footer -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
