<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Proj Html Css Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="dist/app.css">
  </head>
  <body>
    <div id="app">
      <!-- header -->
      
        <header>
          <div class="overlay">
            <div class="container">
              <!-- navbar -->
              <nav>
                <ul class="opening">
                  <li v-for="element in headerNavbar">
                    <i :class="element.clockIcon"></i>
                    {{element.openingTime}}</li>
                </ul>
                
                <ul class="contacts">
                  <li v-for="element in headerNavbar">
                    <i :class="element.telephoneIcon"></i>
                    {{element.telephoneNumber}}</li>  
                  
                  <li v-for="element in headerNavbar">
                    <i :class="element.messageIcon"></i>
                    {{element.mailAdress}}</li>
                    
                  <li v-for="element in headerNavbar">
                    <i :class="element.facebookIcon"></i>
                    
                  <li v-for="element in headerNavbar">
                    <i :class="element.twitterIcon"></i> 
                      
                  <li v-for="element in headerNavbar">
                    <i :class="element.linkedinIcon"></i>  
                </ul>
                 
                
              </nav>
              <!-- end navbar -->
            </div>
          </div>
      
        </header>
        <!-- end header -->
        
        <!-- jumbotron -->
        <section id="jumbotron">
          <div class="overlay">
            <div class="container">
              <div class="nex-gen">
                <p><strong>NEX</strong></p>
                <p><strong>GEN</strong></p>
              </div>
              
              <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">SERVICES</a></li>
                <li><a href="">PRICING</a></li>
                <li><a href="">BLOG</a></li>
                <li><a  class="get-in-touch-btn" href="">GET IN TOUCH</a></li>
              </ul>
              
              <div class="jumbotron-description">
                <span class="jumbotron-title">Lead~</span>
                <span class="jumbotron-title">Customer</span>
                <p>Succesful strategies require data analysis, creativity and customer focus, taking
                advantage of the latest technologies to offer exellent services.</p>
                <a href=""><div class="get-in-touch-btn">GET IN TOUCH</div></a>
                <a href=""><div class="read-more-btn">READ MORE</div></a>
              </div>
              
            </div>
          </div>
        </section>
        <!-- end jumbotron -->
        
        <!-- three adjectives section -->
        <section id="three-adjectives-section">
          <div class="container">
            <div class="services-div">
              <img src="" alt="">
              <h2>Human Capital</h2>
              <p>Humanizing business: Hearness the power of technology to improve the way people work.</p>
            </div>
            
            <div class="services-div">
              <h2>Core Business</h2>
              <p>It takes innovative approaches to transform, modernize, and run existing platforms.</p>
            </div>
            
            <div class="services-div">
              <h2>Performance</h2>
              <p>Achieving maximum impact and value from investments in finance and supply chain.</p>
            </div>
          </div>
        </section>
    
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>