@import 'colors';
@import 'variables';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//mixin
@mixin container {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
//end mixin

//header
header{
  height: 50px;
  background-color: $surfieGreen;
  .container{
    @include container;
  }
}
// end header

//jumbotron
#jumbotron{
height: 80vh;
background-color: red;
background-image: url($jumbotronBg);
background-position: bottom;
background-size: cover;
background-repeat: no-repeat;
}
// end jumbotron
