@import 'colors';
@import 'variables';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//mixin
@mixin container {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

@mixin navbar{
  list-style: none;
  display: inline-block;
}

@mixin overlay  {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
}
//end mixin




  //header
  header{
    height: 50px;
    background-color: $surfieGreen;
    position: relative;

    >.overlay{
      @include overlay;
    }

    .container{
      @include container;

      >nav{
        display: $flex;
        justify-content: space-between;



        li{
          @include navbar ;
          color: $edwardGray;
          line-height: 50px;
        }

        .contacts{
          >li{
            padding-right: 30px;
          }
        }
      }


    }
  }
  // end header

  //jumbotron
  #jumbotron{
  height: 80vh;
  background-image: url($jumbotronBg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  }
  // end jumbotron
