
//Color Cube

$white:#fff;
$woodSmokeBlack:#121117;
$scarpaFlowGray:#4e4d51;
$blueLagoon:#038483;

$edwardGray:#a2adae;
$driftWoddBeige:#b0864f;
$anakiwaWater:#93fbfb;
$pelorousLightBlue:#39c4c6;

//End Color Cube

//Median Cut

$grayNurse:#e3e7df;
$sharkBlack:#1e2223;
$flintGray:#706c68;
$seaNymph:#72a2a3;
$slateGray:#778a94;

//End Median Cut

//Material design
$capePalliserBrown:#9c6f46;
$zorbaGray:#a79d8e;
$surfieGreen:#0d7e7e;
$ebonyClay:#24333d;
$goldSand:#e5be92;
//End Material design


//my colors
$customerBgColor:rgba(66,73,25,0.5);
$nexBgColor:rgba(28,68,78,0.8);
// $hoverGetInTouchButtonColor:#00A6A6; vecchio colore
$hoverFullBlueButtonColor:#41c457; // Nuovo colore
$highlightedBgGreen:#CCE3DE;
$lightBlack:#19191f;
$inputColor: rgba(193,202,202, 0.5);
$focusInputColor: rgba(170,190,190, 0.5);
$focusInputGetInTouch:rgb(229,229,229);
$darkBgGreen:#0E272D;
$focusInputNewsLetter:rgba(255,255,255,0.8);
$footerBottomColor:#0d0d11;
$paragraphsLightBg:#606d75;
$paragrDarkBg:#c0c3d0;

//end my colors
