$jumbotronBg: '../img/hero-image.png';
$jumbotronVideoBg: 'https://nexgen.codings.dev/assets/videos/city.mp4';
$newsLetterBg: '../img/bg-1.jpg';
$middleDots: '../img/bullets.png';
$flex:flex;
$posRelative:relative;
$marginTopJumboLi:20px;
$txtCentre:center;
$marginTopServicesH2:20px;
$cursPointer:pointer;
$transitions05s:0.5s;
$transitionLatestNews:0.2s;
